h1{
    text-align: center;
    font-family:fantasy;
    font-weight: bold;
}
body{
   background-image: url("tile.jpg");
}
.form-wrapper{
    background-image: url("formbg.jpg");
    background-repeat:repeat;
    /* padding:15px;
    margin:30px;
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 200px; */
    width: 900px;
    height: 230px;
    border-radius: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.form{
    width:400px;
    margin: auto;
}
.form-label{
    font-size: medium;
    
}
.task{
    margin-top: 5px;
    padding: 11px;
    /* background: red; */
    background-image: url(notebg.png);
    float: left;
    margin-right: 35px;
    margin-left: 35px;
    width: 190px;
    height: 250px;
   
    
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.time .date{
    text-align: left;
    padding: 5px;
    width: 165px;
    height: 8px;

}
#taskContainer{
    width: 1300px;
   
    overflow: auto;
    height: 600px;
    margin-top: 200px;

}
.icon{
    visibility: hidden;
}

.task:hover .icon{
    visibility: visible;
    width:25px;
    height:25px;
    
}
.todoTask{
    overflow:auto;
    word-break: break-all;
    width: 165px;
    height: 100px;
}
    
